/* @import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
	list-style:none;
}

body {
	font-family:"Work Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--bg-color:#c8dbf8;
    --color:#252930;
    --sectioncolor:#047cfd;
	--maincolor:#047cfd;
}

.dark-mode {
	--bg-color:#252930;
    --color:#f5f5f5;
    --sectioncolor:#047cfd;
	--maincolor:#047cfd;
}

.card {
	box-shadow: 0 12px 24px rgb(0 0 0 / 50%);
}

a {
	color: var(--color);
	cursor: pointer;
}

i {
	color: var(--color);
	cursor: pointer;
}

.loading-page{
	width:100%;
	height:100vh;
	background:#fff;
	position:fixed;
	z-index:999;
	display:flex;
	justify-content:center;
	align-items:center;
}

/* DESKTOP HEADER */
header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 24px 64px;
    width: 100%;
	box-shadow: 0 4px 8px rgb(0 0 0 / 25%);
    background-color: var(--maincolor);
    color: var(--color);
}
header a, i {
    color: #f5f5f5;
    cursor: pointer;
}
.menu-button {
    display: none;
    font-size: 1.5em;
}
.menu-item {
    display: inline-block;
    padding: 0 16px;
}
.sub-content {
    display: none;
    position: absolute;
    margin-top: 24px;
    background-color: var(--sectioncolor);
}
.sub-content li {
    padding: 16px;
}
/* DESKTOP HEADER */

/* DESKTOP PAGE */
.main-container {
    margin: 0 auto;
    padding: 16px;
    background-color: var(--bg-color);
}
.sub-container {
	color:var(--color);
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:4em;
    width:100%;
    max-width:450px;
    margin:86px auto 0 auto;
}
.gambar-container {
    border-radius: 16px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.gambar-container i {
    color: var(--color);
}
.gambar {
    width: 100%;
    object-fit: cover;
}
.detail {
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
}
.komen {
    display: flex;
    flex-direction: column;
    padding: 4px 16px;
    color: #047cfd;
    font-size: 12px;
}
.lihatKomen {
    padding: 4px 0;
    cursor: pointer;
}
.itemKomen {
    padding: 8px 16px;
}
.daftarKomen {
    margin: 4px 0;
    background-color:#f5f5f5;
    border-radius: 8px;
}
.tambahKomen {
    display: flex;
}
.isiKomen {
    width: 100%;
    margin-right: 8px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}
.kirimKomen {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #047cfd;
    color: ghostwhite;
    cursor: pointer;
}
.disabled-button {
    pointer-events: none;
}
/* DEKSTOP PAGE */

/* DEKSTOP FOOTER */
.footer-tag {
    padding: 16px 0;
    text-align: center;
    background-color: #047cfd;
    color: #f5f5f5;
}

@media screen and (max-width: 768px) {
	/* MOBILE HEADER */
    header {
        display: block;
        padding: 24px 32px;
    }
    .menu-button {
        display: block;
    }
    .logo-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-content {
        display: block;
        position: fixed;
        padding-bottom: 96px;
        box-shadow: 0 12px 24px rgb(0 0 0 / 25%);
        width: 50%;
        height: 100vh;
        background-color: var(--maincolor);
        left: -100%;
        overflow-y: auto;
        transition: left 0.5s ease;
    }
    .menu-item {
        display: block;
        padding: 32px 0 0 32px;
    }
    .sub-content {
        position: relative;
        margin-top: unset;
        padding: 16px 0;
        width: fit-content;
    }
    /* MOBILE HEADER */
}